* {
  box-sizing: border-box;
}

@import '../../../styles/variables.scss';

@mixin hs {
  margin: 0;
  padding: 2px;
}

.mainBody {
  padding-top: 90px;
  margin: 0px 17%;
  font-family: $theme-font;

  .mainpage {
    .article {
      top: 10%;
      width: 60%;
      background-color: white;
      border: $border-style;

      .profile {
        @include flex-center;

        img {
          width: 50px;
          margin: 10px;
        }

        h1 {
          font-size: 14px;
          @include hs;
        }

        h2 {
          @include hs;
          font-size: 12px;
          font-weight: normal;
        }
      }

      .photo {
        img {
          width: 100%;
        }
      }

      .information {
        padding-left: 5px;
        ul {
          @include flex-center;
        }
        .numberOfLikes {
          @include flex-center;
          font-size: 14px;
          img {
            width: 30px;
          }
        }
        .explanation {
          @include flex-center;
          font-size: 14px;
          a {
            padding: 5px;
            font-weight: bold;
          }
        }
      }
      .comments {
        display: flex;
        input {
          width: 100%;
        }
      }
    }

    .main-right {
      position: fixed;
      top: 90px;
      right: 17%;
      width: 25%;
      img {
        width: 100%;
      }
    }

    a {
      text-decoration-line: none;
      color: black;
    }
  }
}
