@import '../../../styles/variables.scss';

.mainBody {
  padding-top: 90px;
  margin: 0px 17%;
  font-family: $theme-font;

  .mainpage {
    a {
      text-decoration-line: none;
      color: black;
    }
  }
}
