// @import '../../../styles/common.scss';
@import '../../styles/variables.scss';

.wrap {
  @include flex-between;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  border-top: $border-style;
  border-bottom: $border-style;
  padding: 10px 180px;
  height: 60px;
  background-color: white;
  font-family: 'Lobster', cursive;

  .item {
    font-size: 30px;

    input {
      background-color: #efefef;
      border: none;
      border-radius: 4px;
      width: 250px;
      height: 30px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include flex-center;
    justify-content: flex-end;

    img {
      width: 40px;
      margin: 5px;
    }
  }
}
